body {
  color: black;
}
.header {
  background-color: whitesmoke; 
  padding: 50px 20px; 
  text-align: center;
}
.header h2 {
  font-size: 40px;
}
{ 
}
.column {
  float: left; 
  width: 33.33%; 
  height: 250px; 
}
.footer {
  text-align: center;
